<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Matrix Gym Master" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="*:font-sans pt-20 mx-auto max-w-7xl">
    <p class="alert"><%= alert %></p>
    <nav
    class="fixed inset-x-0 top-0 z-40 flex flex-wrap items-center justify-between w-full px-4 py-4 tracking-wide bg-white shadow-md  bg-opacity-90">
      <!-- Left nav -->
      <div class="flex items-center">
        <a href="#" class="text-2xl tracking-wide text-slate-900 font-semibold">
          Matrix Admin
        </a>
      </div>
      <div class="flex items-center">
        <% if admin_signed_in? %>
          <%= link_to destroy_admin_session_path, data: {turbo_method: :delete} do %>
            <button class="whitespace-nowrap px-2 py-1 text-xs font-bold uppercase rounded-md hover:text-red-900 hover:bg-red-200 bg-red-300/80 text-red-900">
              Sign out
            </button>
          <% end %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
